<header class="block__header container">
  <section class="block block--skewed-left">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero,
      exercitationem.
    </p>
  </section>
</header>
<section class="block block--dark block--skewed-right">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero,
      exercitationem.
    </p>
  </div>
</section>
