<section class="block block--dark block--skewed-right">
  <header class="block__header">
    <h2>User-Friendly Control Panel</h2>
  </header>
  <div class="container grid grid--1x2">
    <picture class="block-showcase__image">
      <source
        type="image/webp"
        srcset="images/ipad.webp 1x, images/ipad@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="images/ipad.jpg 1x, images/ipad@2x.jpg 2x"
      />
      <img src="images/ipad.png" alt="" />
    </picture>
    <ul class="list">
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#snap"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3>Easy start & Managed updates</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Voluptates perferendis quas quasi enim magnam eum omnis veritatis
              accusamus, neque repudiandae?
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#growth"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3>Easy start & Managed updates</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Voluptates perferendis quas quasi enim magnam eum omnis veritatis
              accusamus, neque repudiandae?
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#settings"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3>Easy start & Managed updates</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Voluptates perferendis quas quasi enim magnam eum omnis veritatis
              accusamus, neque repudiandae?
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
